.Home {
    margin: auto;
    width: 900px;
    height: 800px;
    background-color: #ECECEC;
}

.avatar{
    position: absolute;
    width: 150px;
    height: 300px;
    margin-top: 40px;
    margin-left: 690px;
    border-radius: 10px 10px;
    background-color: #C4C4C4;
}

.videoBlog{
    position: absolute;
    width: 780px;
    height: 100px;
    margin-top: 370px;
    margin-left: 60px;
    border-radius: 10px 10px;
    background-color: #C4C4C4;
}