.Home {
    margin: auto;
    width: 900px;
    height: 920px;
    background-color: #ECECEC;
}

.avatar{
    position: absolute;
    width: 150px;
    height: 300px;
    margin-top: 40px;
    margin-left: 690px;
    border-radius: 10px 10px;
    background-color: #C4C4C4;
}

