.border-1{
    border: 1px solid #B8D5CC
}
.border-2{
    border: 2px solid #B8D5CC
}
.border-3{
    border: 3px solid #B8D5CC
}



.margin-5{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-15{
    margin: 15px;
}
.margin-20{
    margin: 20px;
}

.marginLeft-5{
    margin-left: 5px;
}
.marginLeft-10{
    margin-left: 10px;
}
.marginLeft-15{
    margin-left: 15px;
}
.marginLeft-20{
    margin-left: 20px;
}

.marginBottom-5{
    margin-bottom: 5px;
}
.marginBottom-10{
    margin-bottom: 10px;
}
.marginBottom-15{
    margin-bottom: 15px;
}
.marginBottom-20{
    margin-bottom: 20px;
}




.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.padding-20{
    padding: 20px;
}

.paddingTop-5{
    padding-top: 5px;
}
.paddingTop-10{
    padding-top: 10px;
}
.paddingTop-15{
    padding-top: 15px;
}
.paddingTop-20{
    padding-top: 20px;
}

.paddingBottom-5{
    padding-bottom: 5px;
}
.paddingBottom-10{
    padding-bottom: 10px;
}
.paddingBottom-15{
    padding-bottom: 15px;
}
.paddingBottom-20{
    padding-bottom: 20px;
}

.paddingLeft-5{
    padding-left: 5px;
}
.paddingLeft-10{
    padding-left: 10px;
}
.paddingLeft-15{
    padding-left: 15px;
}
.paddingLeft-20{
    padding-left: 20px;
}

.Left{
    left: 0;
}
.Right{
    right: 0;
}