.checkIn {
    position: absolute;
    width: 600px;
    height: 300px;
    margin-top: 40px;
    margin-left: 60px;
    border-radius: 10px 10px;
    background-color: #C4C4C4;
}
.checkIn p  {
    font-family: 'Russo One';
    font-size: 20px;
    padding-left: 171px;
    margin: 12px;
}
.checkIn a {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: left;
    padding-left: 35px;
}
.checkIn input{
    width: 272px;
    height: 26px;
    margin-left: 35px;
    border-radius: 5px 5px;
    border-color: #FFF;
    margin-top: -9px;
    margin-bottom: -9px;
}
.checkInNick {
    margin-top: 20px;
}
.checkInPassword {
    margin-top: 25px;
}

.Race div{
    position: absolute;
    width: 70px;
    height: 80px;
    background-color: #FFF;
    border-radius: 5px 5px;
    margin-left: 160px;
    margin-top: 20px;
}
#RaceDiv2{
    margin-left: 265px;
}
#RaceDiv3{
    margin-left: 370px;
}
#Race {
    margin-top: 48px;
    margin-left: 23px;
}
.DOB{
    margin-top: 44px;
    margin-left: 25px;
}
.DOB input{
    margin-left: 53px;
}
.News{
    position: absolute;
    right: 50px;
    margin-top: -145px;
}
.News div{
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 25px 25px;
    margin-bottom: 13px;
    margin-left: 35px;
}